html,
body {
    height: 100%;
    font-size: 1rem;
    background-color: #00142c;
}

.bg {
    background-color: #00142c;
}

.bigpicture {
    max-height: 500px;
    max-width: 100%;
}

.card {
    background-color: #011937;
}

.trusted-icon {
    max-width: 80%;
    max-height: 100px;
    margin-top: 25px;
}

.aboutpicture {
    width: 100%;
}

.aboutcontainer {
    min-height: 700px;
}

.aboutbg {
    background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_525352022_211761.jpg");
    background-size: cover;
}

.welcome {
    color: darkcyan;
}

.bg-lighter {
    background-color: #011937;
}

.trial {
    background: url("https://templatekit.jegtheme.com/cryptiva/wp-content/uploads/sites/53/2021/03/top-view-of-the-hands-of-a-programmer-on-his-laptop.jpg");
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 70%;
    background-attachment: fixed;
}

.news .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}

.news .form-control:focus {
    box-shadow: none;
    border-color: #243c4f;
}

.news .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}

.news {
    position: relative;
}

.padding-fix {
    padding: 0 !important;
}

p {
    color: #828FA0;
}

.text-blue {
    color: #00aad9;
}

.scrolled {
    background-color: #00aad9!important;
    transition: background-color 200ms linear;
}

.custom-shape-divider-bottom-1635350523 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635350523 svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 106px;
}

.custom-shape-divider-bottom-1635350523 .shape-fill {
    fill: #243c4f;
}

.curve-fix {
    margin-bottom: 106px;
}

.footer {
    position: relative;
}

.btn-large {
    min-width: 100px;
    max-width: 100%;
}

@media (max-width: 768px) {
    nav.navbar {
        background: #00aad9;
    }
    .navbar-collapse {
        background-color: #00aad9;
    }
}